:root {
  --primary-color: #1de9b6;
  --secondary-color: #abacaf;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #f2f2f2;
}

.title {
  font-size: 4rem;
  margin: 1rem;
  font-family: monospace;
}

.workout-form {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  width: 50%;

  border-radius: 8px;

  transition: box-shadow 0.2s ease;

  & .indicator {
    display: none;
  }

  & .htmx-request .indicator {
      display: inline-block;
  }

  & .htmx-request.indicator {
      display: inline-block;
  }

  .input {
    width: 100%;
    box-shadow: inset var(--secondary-color) 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    position: relative;
    border-radius: 8px 0 0 8px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: box-shadow 0.2s ease;
    background: #fff;

    &:focus {
      outline: 0;
      box-shadow: 0;
      box-shadow: inset var(--primary-color) 0 0 0 2px;

      & + .button {
        background-color: var(--primary-color);
      }
    }

    &:hover {
      box-shadow: inset var(--primary-color) 0 0 0 2px; 

      & + .button {
        background-color: var(--primary-color);
      }
    }

    &:disabled {
      background-color: #f2f2f2;
      cursor: not-allowed;
      opacity: 0.6;
      box-shadow: inset var(--primary-color) 0 0 0 2px; 
    }

    &:has(+ .button:hover) {
      box-shadow: inset var(--primary-color) 0 0 0 2px;
    }

    &:has(+ .button:focus) {
      filter: brightness(85%)
    }
  }

  .button {
    width: 21%;
    background-color: var(--secondary-color);
    border-radius: 0 8px 8px 0;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: monospace;
    kerning: 2px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--primary-color);
    }

    &:focus {
      filter: brightness(85%);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
      background-color: var(--primary-color);
    }

    & > span:has(+ .htmx-request) {
      display: none;
    }
  }

  &:focus-within {
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, var(--primary-color) 0 0 0 2px;
  }

  &:has(> :disabled) {
    opacity: 0.6;
    box-shadow: none;
  }
}

.result-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 60%;
  text-align: center;
}

#search-result h1 {
  font-size: 1rem;
  font-weight: bold;
}

.exercise {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

#loading {
  width: 1rem;
  height: 1rem;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: var(--secondary-color);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  vertical-align: baseline;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}